html
{
    background-color: white;
    font-family: monospace;
}
.container
{
    background-color: whitesmoke;
    box-shadow: 0 0 2px black;
    border-radius: 2px;
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top_bar
{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: fit-content;
    width: 100%;
    min-width: 500px;
}
#chatroom
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom */
    align-items: center;

    margin-top: 10px;
    height: 500px;
    width: 50%;
    min-width: 500px;
    border: 1px solid black;
}
#input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    width: 100%;
    padding-top: 7px;
    border-top: 1px solid black;
}
#input_message
{
    border: 1px solid black;
    box-shadow: none;

    width: 300px;
    height: 1.5em;

    font-family: inherit;
}
#input_message:focus
{
    outline: none;
}
#send
{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    background-color: white;

    width: 50px;
    height: 22px;

    text-align: center;

    font-family: inherit;
    font-size: 20px;
    margin-left: 2px;
}
#send:hover
{
    cursor: pointer;
}
#user_messages
{
    overflow: auto;
    margin-left: 0%;
    width: 100%;
}
.user_message_container
{
    /*float right of foreign messages*/
    overflow-wrap: anywhere;
    border: 1px solid black;
    margin: 2px 5px 2px auto;
    border-radius: 3px;
    width: 350px;
    background-color: white;
}
.sender
{
    font-size: 10px;
    font-weight: bold;
}
.timestamp
{
    font-size: 10px;
    text-align: right;
}
.foreign_message_container
{
    border: 1px solid black;
    margin: 2px 0px 2px 5px;

    min-width: 350px;
    border-radius: 3px;
    width: fit-content;
    background-color: lightgray;
}
.login
{
    font-family: inherit;
    margin: 2px;
    width: 250px;
    border-radius: 0px;
    border: 1px solid black;
}
.login:focus
{
    outline: none;
}
.ll_buttons_container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}
.ll_buttons
{
    border: 1px solid black;
    width: 100%;
    margin: 2px;
    padding: 1px 2px;
    background-color: white;

    overflow: hidden;
    white-space: nowrap;
}
.ll_buttons:hover
{
    cursor: pointer;
}
#chatroom_login_container, #user_login_container
{
    border-right: 2px double black;
}
#status span 
{
    color: red; 
}
#new_user_container_a 
{
    margin-left: auto;
    padding: 2px;
    text-align: center;
}
#new_user_container_b {
    display: none;
    margin-left: auto;
    text-align: center;
    position: relative; /* for absolute positioning of close button */

    border-left: 2px double black;
}

.register_inner {
    position: relative;
    display: inline-block;
}

#close_register {
    position: absolute;
    left: -23px;
    width: 18px;
    height: 18px;
    line-height: 16px;

    background-color: white;
    color: black;
    border: 1px solid black;

    margin-top: 2px;

    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
}
#close_register:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}
#new_user_container_a a 
{
    color: blue;
    text-decoration: underline;
}
